<div>

    <div class="row span8" style="text-align:center;">
        <input type="text" placeholder="Search..." ng-model="searchTerm" />
    </div>

    <div class="row">
        <ul class="unstyled">
            <li ng-repeat="kitty in kitties | filter: searchTerm"
                class="kittyProfile">

                <div class="span8 well">
                    <div class="row">
                        <div class="span4">
                            <img ng-src="{{ kitty.filename }}"
                                 alt="{{ kitty.name }}"
                                 tooltip="meow..."
                                 style="width:100%;">
                        </div>
                        <div class="span4">
                            <div style="display:inline-block;">
                                <i class="icon-thumbs-up" style="color:green;"></i> {{ kitty.upvotes }}
                                <br />
                                <i class="icon-thumbs-down" style="color:red;"></i> {{ kitty.downvotes }}
                            </div>
                            <h1 style="display:inline;">{{ kitty.name }}</strong></h1>
                            <ul class="comments">
                                <li ng-repeat="comment in kitty.comments">
                                    {{ comment }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>