<div>

    <div class="row span8">
        <input type="text" placeholder="Search..." ng-model="searchTerm" />
    </div>

    <div class="row">
        <ul class="unstyled">
            <li ng-repeat="kitty in kitties | filter: searchTerm"
                class="kittyProfile">

                <div class="span8 well">
                    <div class="row">
                        <div class="span2">
                            <img ng-src="{{ kitty.filename }}"
                                 alt="{{ kitty.name }}"
                                 tooltip="meow...">
                        </div>
                        <div class="span6">
                            <h1>{{ kitty.name }}</strong></h1>
                            <span>Upvotes: {{ kitty.upvotes }}</span>
                            <span>Downvotes: {{ kitty.downvotes }}</span>
                        </div>

                    </div>
                    <!--div class="row">
                        <ul style="float:right">
                            <li ng-repeat="comment in kitty.comments">
                                {{ comment }}
                            </li>
                        </ul>
                    </div-->
                </div>

            </li>
        </ul>
    </div>
</div>